<% content_for :title, "New freind" %>

<h1>Add New freind</h1>

<%= render "form", freind: @freind %>

<br>

<div>
  <%= link_to "Back to freinds", freinds_path,
  class: "btn btn-secondary" %>
</div>
